.container {
  margin: 25px;
}

.measures {
  display: flex;
  gap: 5px;
}

.btn {
  cursor: pointer;
  padding: 8px;
  width: 125px;
}

.btn.selected {
  background-color: lightblue;
}

.loading {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: "400px";
}
